div(ng-include='"components/navbar/navbar.html"')

.content(ng-app="cashApp")
  .container(ng-controller="AccountCtrl")
    .col-md-12
      h1 Accounts
    alert(ng-repeat="alert in alerts",type="{{alert.type}}",close="close($index)") {{alert.msg}} 
    .col-md-12(ng-repeat="account in accounts")
      .col-md-12.container-fluid
        .col-md-10
          .btn-group(dropdown)
            button.btn.btn-xs.btn-default.dropdown-toggle 
              span.caret
            ul.dropdown-menu
              li
                a(ng-click="edit(account)")
                  i.fa.fa-edit 
                  |  Edit
              li
                a(ng-click="deleteAccount(account)")
                  i.fa.fa-remove
                  |  Delete
              li
                a(ng-click="upload(account)")
                  i.fa.fa-upload
                  |  Upload
          strong  {{account.bank}}
          |  {{account.name}}

    .col-md-12
      button.btn.btn-sm.btn-default(type="submit",ng-click="create();",value="Create")
        i.fa.fa-plus
        |  Create a new account 

script(type="text/ng-template",id="createAccount.html")
  .modal-header
    h3.modal-title Create account
  .modal-body
    form
      .form-group
        label(for="input_name") Account Name
        input.form-control(type="text",id="name",ng-model="form.name")
      .form-group
        label(for="input_bank") Bank Name
        input.form-control(type="text",id="input_bank",ng-model="form.bank")
  .modal-footer
    button.btn.btn-primary(ng-click="ok()") OK
    button.btn.btn-warning(ng-click="cancel()") Cancel

script(type="text/ng-template",id="editAccount.html")
  .modal-header
    h3.modal-title Edit element
  .modal-body
    form
      .form-group
        label(for="input_name") Account Name
        input.form-control(type="text",id="name",ng-model="form.name")
      .form-group
        label(for="input_bank") Bank Name
        input.form-control(type="text",id="input_bank",ng-model="form.bank")
  .modal-footer
    button.btn.btn-primary(ng-click="ok()") OK
    button.btn.btn-warning(ng-click="cancel()") Cancel

script(type="text/ng-template",id="Upload.html")
  .modal-header
    h3.modal-title Upload transactions
  .modal-body
    form(flow-init)
      input(type="file",ng-file-select="onFileSelect($files)") 
  .modal-footer
    button.btn.btn-primary(ng-click="ok()") OK
    button.btn.btn-warning(ng-click="cancel()") Cancel

